[tool.poetry]
name = "truefoundry"
version = "0.3.3rc1"
description = "Truefoundry CLI"
authors = ["Abhishek Choudhary <abhishek@truefoundry.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8.1,<3.13"
click = ">=7.0.0,<9.0.0"
flytekit = {version = "1.12.2", optional = true}
docker = ">=6.1.2,<8.0.0"
fastapi = ">=0.56.0,<0.200.0"
filelock = "^3.8.0"
gitignorefile = ">=1.1.2,<1.2.0"
GitPython = ">=3.1.43,<3.2.0"
importlib-metadata = ">=6.0.1,<8.0.0"
importlib-resources = "^5.2.0"
Mako = "^1.1.6"
mlfoundry = { version = "0.11.5", optional = true }
openai = ">=1.16.2,<2.0.0"
packaging = ">=20.0,<25.0"
pydantic = ">=1.10.0,<3"
pygments = "^2.12.0"
PyJWT = "^2.0.0"
python-dateutil = "^2.8.2"
python-dotenv = ">=1.0.1,<1.1.0"
python-socketio = {version = ">=5.5.2,<6.0.0", extras = ["client"]}
PyYAML = ">=6.0.0,<7.0.0"
questionary = ">=1.10.0,<2.0.0"
requests = ">=2.31.0,<3.0.0"
requirements-parser = "^0.10.2"
rich = ">=13.7.1,<14.0.0"
rich-click = ">=1.2.1,<2.0.0"
tqdm = ">=4.0.0,<5.0.0"
typing-extensions = ">=3.10.0"
urllib3 = ">=1.26.18,<3"
uvicorn = ">=0.13.0,<0.40.0"
yq = "^3.1.0"

[tool.poetry.extras]
ml = ["mlfoundry"]
workflow = ["flytekit"]

[tool.poetry.group.dev.dependencies]
ruff = ">=0.4.10"
pre-commit = ">=3.5.0,<4.0.0"
pytest = ">=8.2.2,<9.0.0"
# This is only added to resolve linting in truefoundry.langchain package
langchain = ">=0.2.0,<0.3.0"
# These are only for mlfoundry tests
matplotlib = ">=3.0.0,<4.0.0"
plotly = ">=5.8.2,<6.0.0"
seaborn = ">=0.13.0,<0.14.0"
shap =  [
    { version = ">=0.40.0", python = "<3.12" },
    { version = ">=0.45.0", python = ">=3.12" },
]
Pillow = ">=9.1.1,<11.0.0"

[tool.poetry-dynamic-versioning]
enable = false

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning>=1.0.0,<2.0.0"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry.plugins."console_scripts"]
tfy = "truefoundry.cli.__main__:main"
truefoundry = "truefoundry.cli.__main__:main"

[tool.ruff]
lint.select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "C",  # flake8-comprehensions
    "B",  # flake8-bugbear
    "Q",  # flake8-quotes
    "I",
]
lint.ignore = ["E501"]
exclude = ["venv", "repos"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
