[project]
name = "perses"
version = "0.0.1"
description = "Python tools to work with Perses"
authors = [
    { name = "Vincent Primault" },
]
dependencies = [
    "pydantic>=2.9.2",
]
requires-python = ">=3.10,<3.13"
readme = "README.md"
classifiers = [
    "Development Status :: 1 - Planning",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Topic :: System :: Monitoring",
    "Typing :: Typed",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

[project.urls]
Repository = "https://github.com/pvcnt/py-perses.git"
Issues = "https://github.com/pvcnt/py-perses/issues"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"

[tool.pdm]
distribution = true

[tool.pdm.dev-dependencies]
dev = [
    "ruff>=0.4.0",
    "pytest>=8.3.3",
    "black>=24.8.0",
]

[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = [
    "E",
    "W",
    "F",
    "I",
    "N",
    "A",
    "Q",
    "COM",
    "G",
    "D",
]
ignore = [
    "A002",
    "A003",
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D107",
]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.black]
line-length = 120
